<section>
  <div class="details">
    <h1>Full-stack Web Developer Exercise</h1>
    <p>The goal of this exercise is to asses your code quality. Most important factors are structure, readability and efficiency.</p>

    <h2>Requirements</h2>
    <p>Create a simple nodejs based backend api that can accept a CSV file upload, parse it and return a structured JSON of the data.  Create a html-page that consumes that api by allowing the user to select a CSV file that will be uploaded and dynamically displays the returned data in a tabular format.</p>
    <p>The project should also contain a README.md which details all the steps to run this example</p>

    <h2>Scope</h2>
    <p>You are allowed to use any publicly available package or library. But please provide details for installation in the README. Try to limit the requirement for globally installed packages.</p>
    <p>We will test this with a variety of csv files, these files will include edge case (quotes, escaping, encoding, etc...)</p>

    <h2>Delivery</h2>
    <p>Before beginnen please send us a estimate of how long (hours) you think you will need to complete it. And when you will be able to deliver the project.</p>
    <p>The end result is a git project we can access or a zip file containing all the necessary files.</p>
  </div>
  <div class="form">
    <form (submit)="onSubmit($event)">
      <input #file type="file" accept=".csv" (change)="onFileChange($event)">
      <input type="submit" value="Upload" [disabled]="!fileToUpload">
    </form>
  </div>
</section>
<section>
  <table *ngIf="!!currentFile">
    <caption>{{ currentFile.name }}</caption>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of row">{{ col }}</td>
      </tr>
    </tbody>
  </table>
  <div>{{ errorMessage }}</div>
</section>
